* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333;
}
.section {
	padding: 30px 10%;
}
.header {
	margin-top: 80px;
	text-align: center;
	font-size: 24px;
}
.header span {
	font-weight: 400;
	display: block;

}.header strong {
	font-weight: 900;
	display: block;
    text-transform: uppercase;
}
.main {
	text-align: center;
	margin-top: 80px;
}
.video, .form {
	display: inline-block;
	vertical-align: top;
}
.form {
	margin-left: 30px;
	text-align: center;
	padding: 20px;
	border: 5px solid #3333cc;
}
.form-header{
text-align: center;
font-size: 20px;
font-weight: 900;
margin-bottom: 20px;
}
.form input {
	width: 300px;
	padding: 17px;
	margin-top: 11px;
	font-size: 18px;
	border: 1px solid #333;
	display: block;	
}
.btn {
	width: 300px;
	height: 60px;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    background-color: #3333cc;
    border: none;
    display: block;
    margin: 11px auto; 
}
.col {
	display: inline-block;
	text-align: center;
	margin: 10px 30px;
}
.feature-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}
.feature {
	text-align: center;
	margin: 60px auto;
}
.client {
	text-align: center;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: : 100px;
	margin-bottom: 36px;
}
.client-pht {
    text-align: center;
}
.client-pht img{
    margin-left: 27px;
    margin-top: 34px;
}
